workflow/5cFhUM1i38Yvt2AV.json
{"createdAt":"2025-07-09T01:36:33.389Z","updatedAt":"2025-07-22T08:26:52.000Z","id":"5cFhUM1i38Yvt2AV","name":"notion-final","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 0 1,15 * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-60,0],"id":"6419e849-2bf0-4824-8837-1a3130a80f6d","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[220,0],"id":"1d5091d3-3200-4969-893f-1f882759b593","name":"Date & Time"},{"parameters":{"jsCode":"const titleToCheck = $(\"createTimeArray\").all().map((item) => {\n  return item.json\n});\nconst pages = $(\"Get many database pages\").all().map((item) => {\n  return item.json.name\n});\n\nconsole.log('pages', pages)\nconsole.log('titleToCheck', titleToCheck)\n\nreturn titleToCheck.map((item) => {\n  if(pages.includes((item))) return {\n    ...item,\n    exist: true,\n  }\n  return {\n    ...item,\n    exist: false\n  }\n})"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,-320],"id":"deea828b-d286-4825-9ce3-dccf184460cd","name":"Code"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"MM-dd","outputFieldName":"cardTitle","options":{"includeInputFields":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[480,0],"id":"8e8638fb-1209-46c3-b9af-c174847122a8","name":"formate"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"12485057-5f9c-807e-83cb-c7cc32400702","mode":"list","cachedResultName":"12485057-5f9c-807e-83cb-c7cc32400702","cachedResultUrl":"https://www.notion.so/124850575f9c807e83cbc7cc32400702"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1260,-320],"id":"b76e0579-85d6-4744-bb86-3934fb1496a6","name":"Get many database pages","credentials":{"notionApi":{"id":"wBWJS8dCPJRmXTcS","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c8004d1-6c37-4e88-af4f-0fef704e39ef","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"62b0d050-2262-4364-bd5a-aba21665bd6a","leftValue":"={{ [1, 2, 3, 4, 5] }}","rightValue":"={{ $json.week }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1820,-320],"id":"93279b61-de2c-4b8c-93b0-bf8f33370268","name":"If"},{"parameters":{"jsCode":"const results = [];\nconst date = $(\"formate\")?.all()?.at(0)?.json.cardTitle\nconsole.log('date', date)\n\nconst month = date?.split('-').at(0)\nconst days = Number(date?.split('-').at(1))\n\nfunction isValidDate(month, day) {\n  const date = new Date(month - 1, day); // 注意：JavaScript 的月份是從 0 開始的\n  return (\n    date.getMonth() === month - 1 &&\n    date.getDate() === day\n  );\n}\n\nfor (let i = days; i < days + 15; i++) {\n  const day = i >= 10 ? i : `0${i}`\n  const timeStr = `${month}/${day}`\n  const currentDate = `${new Date().getFullYear()}-${month}-${day}`\n  console.log('currentDate', currentDate);\n  const week = new Date(currentDate).getDay()\n  if(isValidDate(month, day)) {\n    results.push({ json: { date: timeStr, week } });\n  }\n}\n\nresults.sort((a, b) => {\n  const [monthA, dayA] = a.json.date.split('/').map(Number);\n  const [monthB, dayB] = b.json.date.split('/').map(Number);\n\n  if (monthA !== monthB) {\n    return monthB - monthA;\n  }\n  return dayB - dayA;\n});\n\nconsole.log('results', results)\nreturn results"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[780,0],"id":"36b500f1-f7e0-4d63-b449-c8f06ab6e8f2","name":"createTimeArray","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7879264e-e9ab-4b11-aa9f-ac85690bccbd","leftValue":"={{ $json.week }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2220,-420],"id":"9eb8cad0-aefc-4b73-aafa-ab05c27a6be4","name":"isThursday"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"12485057-5f9c-807e-83cb-c7cc32400702","mode":"list","cachedResultName":"12485057-5f9c-807e-83cb-c7cc32400702","cachedResultUrl":"https://www.notion.so/124850575f9c807e83cbc7cc32400702"},"title":"={{ $json.date }}","blockUi":{"blockValues":[{"type":"to_do","richText":true,"text":{"text":[{"text":"訂便當","annotationUi":{}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2660,-440],"id":"c4f25382-b627-47d1-b54f-404e697ffd8b","name":"createThursday","credentials":{"notionApi":{"id":"wBWJS8dCPJRmXTcS","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"12485057-5f9c-807e-83cb-c7cc32400702","mode":"list","cachedResultName":"12485057-5f9c-807e-83cb-c7cc32400702","cachedResultUrl":"https://www.notion.so/124850575f9c807e83cbc7cc32400702"},"title":"={{ $json.date }}","blockUi":{"blockValues":[{"type":"to_do"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2660,-140],"id":"4f8bddc5-57e6-46b9-ba8e-9e63bf79d6f2","name":"CreateOtherPage","credentials":{"notionApi":{"id":"wBWJS8dCPJRmXTcS","name":"Notion account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"formate","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"formate":{"main":[[{"node":"createTimeArray","type":"main","index":0}]]},"Get many database pages":{"main":[[{"node":"Code","type":"main","index":0}]]},"If":{"main":[[{"node":"isThursday","type":"main","index":0}]]},"createTimeArray":{"main":[[{"node":"Get many database pages","type":"main","index":0}]]},"isThursday":{"main":[[{"node":"createThursday","type":"main","index":0}],[{"node":"CreateOtherPage","type":"main","index":0}]]},"createThursday":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c939059f-1795-4dab-928e-160adf3c365a","triggerCount":1,"tags":[]}