workflow/bAWgpHgn6dKLl4wC.json
{"createdAt":"2025-07-06T10:07:22.883Z","updatedAt":"2025-07-13T08:18:47.000Z","id":"bAWgpHgn6dKLl4wC","name":"notion-day","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"e43a4c1e-4e0d-46c3-9b80-491d6735cc18","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[320,0],"id":"bea9677a-9cad-4297-9132-4e5214de1a3c","name":"Date & Time"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"22585057-5f9c-80ec-b9be-fcb13fc77505","mode":"list","cachedResultName":"for n8n test","cachedResultUrl":"https://www.notion.so/225850575f9c80ecb9befcb13fc77505"},"title":"={{ $('formate').first().json.cardTitle }}","blockUi":{"blockValues":[{"type":"to_do","richText":true,"text":{"text":[{"text":"訂便當","annotationUi":{}}]}}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1860,-200],"id":"6515a432-08de-402d-896b-343a10ecb424","name":"Create a database page","credentials":{"notionApi":{"id":"wBWJS8dCPJRmXTcS","name":"Notion account"}}},{"parameters":{"jsCode":"const titleToCheck = $(\"formate\").all()[0].json.cardTitle\nconst pages = $(\"Get many database pages\").all().map((item) => {\n  return item.json.name\n});\n\nconsole.log('pages', pages)\nconsole.log('titleToCheck', titleToCheck)\n\n\nconst exists = pages.includes(titleToCheck)\n\nreturn { exists };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,0],"id":"e4321e2a-6e42-4ba6-a971-901edc3c47d2","name":"Code"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"MM-dd","outputFieldName":"cardTitle","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[700,0],"id":"7db76a1a-9b83-4c9b-a5e6-3d7e348e412d","name":"formate"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"22585057-5f9c-80ec-b9be-fcb13fc77505","mode":"list","cachedResultName":"for n8n test","cachedResultUrl":"https://www.notion.so/225850575f9c80ecb9befcb13fc77505"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1000,-260],"id":"558e57ab-3156-4b5d-86a9-33648e016c91","name":"Get many database pages","credentials":{"notionApi":{"id":"wBWJS8dCPJRmXTcS","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c8004d1-6c37-4e88-af4f-0fef704e39ef","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,0],"id":"5545add6-bbfc-459c-80ac-6ad67e2db270","name":"If"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"formate","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"formate":{"main":[[{"node":"Get many database pages","type":"main","index":0}]]},"Get many database pages":{"main":[[{"node":"Code","type":"main","index":0}]]},"Create a database page":{"main":[[]]},"If":{"main":[[{"node":"Create a database page","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c545293a-a4ad-48b2-b808-267709304135","triggerCount":1,"tags":[]}