workflow/crawl-gpt.json
{"createdAt":"2025-08-08T06:14:40.221Z","updatedAt":"2025-08-08T12:18:32.000Z","id":"PfnMJhyeqC6Vp4Mw","name":"crawl-gpt","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"255b145f-8688-4755-9299-97a566772d7b","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://www.costco.com.tw/Health-Beauty/Supplements/Bone-Joint-Support/Schiff-Move-Free-Ultra-with-UC-II-60-Tablet/p/363985?srsltid=AfmBOoqGXyGv9Yu9kK7f_52k1DDzGWy6Y7LO2C3UiYL36BUUfrGUjhwt","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"4f713f94-5b3a-48ff-a29a-76a1d95c72da","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[440,0],"id":"81419559-0f6b-40d0-816b-437d02cd37eb","name":"Markdown"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"你是一個智慧的爬蟲工具，解析html","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[660,0],"id":"4e1efe2f-3f13-4ada-b618-fe81c5254d63","name":"Message a model","credentials":{"openAiApi":{"id":"ibcZA79v51MLvWT1","name":"OpenAi account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"274240e9-a6c7-46b5-b698-b1f5718206ff","triggerCount":0,"tags":[]}