workflow/crawl-gemini.json
{"createdAt":"2025-08-08T12:18:50.329Z","updatedAt":"2025-08-09T08:56:27.000Z","id":"gvw7JiMsYizXx9lb","name":"crawl-gemini","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.costco.com.tw/Health-Beauty/Supplements/Bone-Joint-Support/Schiff-Move-Free-Ultra-with-UC-II-60-Tablet/p/363985?srsltid=AfmBOoqGXyGv9Yu9kK7f_52k1DDzGWy6Y7LO2C3UiYL36BUUfrGUjhwt","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"ac3739d1-4ed3-4df9-ae55-42f9317874a8","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"amount","cssSelector":".product-price-amount span"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,0],"id":"1b558adb-cbb1-493f-b005-a1b7eeed27c2","name":"HTML","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d0de611a-757c-4720-9a49-2863b89ec7da","leftValue":"={{ $json.amountCleaned }}","rightValue":1399,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[860,0],"id":"b08f57a1-e8a2-4143-8d73-192349f637d6","name":"If"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawAmount = $json.amount || \"\";\nconst cleaned = rawAmount.replace(\"$\", \"\").replace(\",\", \"\");\n\nreturn {\n  json: {\n    rawAmount,\n    amountCleaned: Number(cleaned)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"id":"22ee21b8-069c-4b12-8494-39130d617ce6","name":"Code"},{"parameters":{"sendTo":"t7552175@gmail.com","subject":"益節特價啦","message":"=現在的價格是 {{ $json.rawAmount }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,-180],"id":"28a94945-787e-4f67-afae-4c4da60a9446","name":"Send a message","webhookId":"6e1c5885-04ab-4f91-9d23-8a202fe8dff0","credentials":{"gmailOAuth2":{"id":"A7vWsGK66FOLtoPS","name":"Gmail account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3,"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[20,0],"id":"5814186b-8202-43f3-aa6e-9a4dbca9e2bd","name":"Schedule Trigger"}],"connections":{"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"92f44090-4161-4de9-9554-7f9cfa7608c0","triggerCount":0,"tags":[]}