workflow/my-partner.json
{"createdAt":"2025-07-25T07:58:24.852Z","updatedAt":"2025-07-28T08:50:59.000Z","id":"rIKjocazBHWdTolc","name":"my-partner","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-320,0],"id":"580408b0-5121-48de-afc1-041542f3ed87","name":"When chat message received","webhookId":"7d82c430-f751-40b3-bd29-cd1f92737111"},{"parameters":{"options":{"systemMessage":"=你是一位個人的行動助理，你的職責是協助使用者處理日常事務。必須使用以下工具來完成任務：\n\n可用工具\n* Open Weather Map: 用於查詢天氣資訊。當使用者需要了解特定地點的天氣狀況時，請調用此工具。\n* Accounting Tool: 用於記錄使用者的收支。當使用者要求記帳時，必須調用此工具。使用者需要提供花費的描述和金額。日期時間會自動記錄為當前日期 (YYYY/MM/DD)。當前日期時間為 {{ $json.currentDate }}\n\nAccounting Tool 輸入範例:\n日期時間: 2025/04/29\n花費描述: 買酒\n金額: 100\n* Google Calendar: 用於建立行事曆事件。當使用者需要安排行程或建立提醒時，請調用此工具。事件的摘要 (Summary) 是必填欄位。現在的時間為 {{ $json.currentDate }}。 "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"fb2c20c4-8f90-4949-9e6a-3637f76ec66c","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[40,280],"id":"1a1a4cf3-6557-4186-89c0-740a0164ef7f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"fLTU4msKXziH0AsC","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[340,320],"id":"7692c8c4-6e7a-45c9-adc4-2e5609e3bbf1","name":"Simple Memory"},{"parameters":{"cityName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', `city 必須轉成英文`, 'string') }}","language":"zh_tw"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[980,200],"id":"daf7ac33-ae04-4aa4-acab-433e316c54dd","name":"OpenWeatherMap","credentials":{"openWeatherMapApi":{"id":"Gwd0U2nMVjNvR0Ag","name":"OpenWeatherMap account 2"}}},{"parameters":{"descriptionType":"manual","toolDescription":"每日記賬工具","operation":"append","documentId":{"__rl":true,"value":"1xyfwdx6Czv7scD6V75XQEqXhqh62zD2QfrZTVKiNbhQ","mode":"list","cachedResultName":" 記帳用","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xyfwdx6Czv7scD6V75XQEqXhqh62zD2QfrZTVKiNbhQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"工作表1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xyfwdx6Czv7scD6V75XQEqXhqh62zD2QfrZTVKiNbhQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}","description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', ``, 'string') }}","amount":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[840,240],"id":"6f45e261-8d0b-48be-9eb9-f24661309158","name":"accounting tool","credentials":{"googleSheetsOAuth2Api":{"id":"d7Hz1NdWq0w2fUqv","name":"Google Sheets account"}}},{"parameters":{"calendar":{"__rl":true,"value":"861f7bb1dfca68da90fad681d25496a98358c8daf4d132830f540393f88287d3@group.calendar.google.com","mode":"list","cachedResultName":"n8n test"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[580,280],"id":"824ed477-e6d1-4621-866b-e8475fa445de","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"nsJY7UxkjjzZ9KQZ","name":"Google Calendar account"}}},{"parameters":{"options":{"includeInputFields":true}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-40,0],"id":"41267db4-1326-422e-acd4-99fd9e12df47","name":"Date & Time"},{"parameters":{"httpMethod":"POST","path":"8fc7ba62-48e6-47ac-b612-0de4fadfb2bf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,-300],"id":"5f0fe9e7-0349-42c5-8e5e-b8c936c1bed0","name":"Webhook","webhookId":"8fc7ba62-48e6-47ac-b612-0de4fadfb2bf"},{"parameters":{"content":"\n{\n\"sessionId\": \n\"d2cafbbd0b8f4b7ebd1a09c37f64d665\",\n\"action\": \n\"sendMessage\",\n\"chatInput\": \n\"你好\"\n}\n","height":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,-220],"id":"f62898f9-79ba-48d6-bdae-5f737a0a3f30","name":"Sticky Note"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"sessionId\": \"d2cafbbd0b8f4b7ebd1a09c37f64d665\",\n  \"action\": \"sendMessage\",\n  \"chatInput\": \"{{ $json.body.events[0].message.text }}\"\n}\n\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-300],"id":"fc286e2e-df83-44c6-abdb-73730b4bb39b","name":"Edit Fields"}],"connections":{"When chat message received":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenWeatherMap":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"accounting tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Date & Time":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Date & Time","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"62aa3c00-0039-4287-9e9f-e15b1b762cc8","triggerCount":0,"tags":[]}