workflow/My_workflow.json
{"createdAt":"2025-07-06T08:24:21.170Z","updatedAt":"2025-07-06T10:07:10.000Z","id":"2RE5jgA7GYOQTcNe","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"1f111cc8-b89e-43f5-8032-27c1c566ea51","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[260,0],"id":"7246aa93-8f00-4553-bdd1-4528047203a4","name":"Date & Time"},{"parameters":{"resource":"database","databaseId":{"__rl":true,"value":"22585057-5f9c-80ec-b9be-fcb13fc77505","mode":"list","cachedResultName":"for n8n test","cachedResultUrl":"https://www.notion.so/225850575f9c80ecb9befcb13fc77505"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[700,0],"id":"ec73e00f-c84c-46a4-8705-46d4a33f0c4c","name":"Get a database","credentials":{"notionApi":{"id":"wBWJS8dCPJRmXTcS","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"22585057-5f9c-80ec-b9be-fcb13fc77505","mode":"list","cachedResultName":"for n8n test","cachedResultUrl":"https://www.notion.so/225850575f9c80ecb9befcb13fc77505"},"title":"={{ $('formate').item.json.cardTitle }}","options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1360,0],"id":"7d9720c2-aed1-4b93-8a1f-660ef4b5f6c5","name":"Create a database page","credentials":{"notionApi":{"id":"wBWJS8dCPJRmXTcS","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c8004d1-6c37-4e88-af4f-0fef704e39ef","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1140,0],"id":"c3d4b634-4d91-4c16-8c7e-4d96cd939c59","name":"If"},{"parameters":{"jsCode":"const titleToCheck = $(\"formate\").all()\nconst pages = $(\"Get a database\").all()\n\nconst exists = pages.some(page => {\n  return page.json.name === titleToCheck.join();\n});\n\nreturn { exists };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[920,0],"id":"0df6fdf0-63a4-4400-b095-6bf725643049","name":"Code"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"yyyy-MM-dd-HHmmss","outputFieldName":"cardTitle","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[480,0],"id":"193fd18c-468b-45b5-b2ee-fbd65fd0297f","name":"formate"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"formate","type":"main","index":0}]]},"Get a database":{"main":[[{"node":"Code","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a database page","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"formate":{"main":[[{"node":"Get a database","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"306bc311-3502-4314-82da-ed933b3625da","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-07-06T08:24:21.174Z","updatedAt":"2025-07-06T08:24:21.174Z","role":"workflow:owner","workflowId":"2RE5jgA7GYOQTcNe","projectId":"qDRAVIbrhDQLw3Ly","project":{"createdAt":"2025-07-06T07:54:57.449Z","updatedAt":"2025-07-06T07:57:03.983Z","id":"qDRAVIbrhDQLw3Ly","name":"joe chang <t7552175@gmail.com>","type":"personal","icon":null,"description":null}}]}