workflow/orderNotify.json
{"createdAt":"2025-08-10T08:50:30.103Z","updatedAt":"2025-09-02T23:49:16.000Z","id":"TSM8nTM9SO3R059h","name":"orderNotify","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"6c669c6b-4557-4c56-a24e-1eee13ab7cdd","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1amobe8b8IWsDQFvfx3v2Y7hZG7IYbe_jhZhVB8eue8k","mode":"list","cachedResultName":"水果庫存表","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1amobe8b8IWsDQFvfx3v2Y7hZG7IYbe_jhZhVB8eue8k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"工作表1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1amobe8b8IWsDQFvfx3v2Y7hZG7IYbe_jhZhVB8eue8k/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,0],"id":"2875d9d0-481e-4039-b8d2-80d1d95c9399","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"nZDQ0Aoj9ZDaEL4r","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81750d58-66d6-4cb2-8af6-4233aa4dbc2e","leftValue":"={{ $json['庫存數量'] }}","rightValue":150,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,0],"id":"3c6693b1-8f66-4527-80a1-4b76fd0e69fb","name":"If"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/push","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer TJqrTt9EAugP6444uPVBVX5abVaQsNxYWFs2rXOfziji4N74SsrpH7LAKOfI7CWPORLcWKoyhL2jFbQub8QA2EGFxaqrYLJToxIaTmvPTm9yveXfgnzz+N4862OWZ7mzlhJo4RlM+q84yX3afGh8DgdB04t89/1O/w1cDnyilFU="},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"to\": \"U5f29041ceabbb4629ca94a229e0276d0\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"【庫存提醒】商品{{ $json['品項'] }} 數量低於 10（目前 {{ $json['庫存數量'] }}）\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,-40],"id":"835fd55f-a243-4812-b381-5eb543df8517","name":"HTTP Request"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9cce6826-a69b-41b5-a224-789560c4bc6a","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-10T08:50:30.113Z","updatedAt":"2025-08-10T08:50:30.113Z","role":"workflow:owner","workflowId":"TSM8nTM9SO3R059h","projectId":"qDRAVIbrhDQLw3Ly","project":{"createdAt":"2025-07-06T07:54:57.449Z","updatedAt":"2025-07-06T07:57:03.983Z","id":"qDRAVIbrhDQLw3Ly","name":"joe chang <t7552175@gmail.com>","type":"personal","icon":null,"description":null}}]}