workflow/rIKjocazBHWdTolc.json
{"createdAt":"2025-07-25T07:58:24.852Z","updatedAt":"2025-07-25T08:32:00.000Z","id":"rIKjocazBHWdTolc","name":"my-partner","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"580408b0-5121-48de-afc1-041542f3ed87","name":"When chat message received","webhookId":"7d82c430-f751-40b3-bd29-cd1f92737111"},{"parameters":{"options":{"systemMessage":"你是一位個人的行動助理，你的職責是協助使用者處理日常事務。必須使用以下工具來完成任務：\n\n可用工具\n* Open Weather Map: 用於查詢天氣資訊。當使用者需要了解特定地點的天氣狀況時，請調用此工具。\n* Accounting Tool: 用於記錄使用者的收支。當使用者要求記帳時，必須調用此工具。使用者需要提供花費的描述和金額。日期時間會自動記錄為當前日期 (YYYY/MM/DD)。當前日期時間為 {{ $json.currentDate }}。\nAccounting Tool 輸入範例:\n日期時間: 2025/04/29\n花費描述: 買酒\n金額: 100\n* Google Calendar: 用於建立行事曆事件。當使用者需要安排行程或建立提醒時，請調用此工具。事件的摘要 (Summary) 是必填欄位。當前日期時間為 {{ $json.currentDate }}。"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"fb2c20c4-8f90-4949-9e6a-3637f76ec66c","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[40,280],"id":"1a1a4cf3-6557-4186-89c0-740a0164ef7f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"fLTU4msKXziH0AsC","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[340,320],"id":"7692c8c4-6e7a-45c9-adc4-2e5609e3bbf1","name":"Simple Memory"},{"parameters":{"cityName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', `city 必須轉成英文`, 'string') }}","language":"zh_tw"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[540,260],"id":"daf7ac33-ae04-4aa4-acab-433e316c54dd","name":"OpenWeatherMap","credentials":{"openWeatherMapApi":{"id":"Gwd0U2nMVjNvR0Ag","name":"OpenWeatherMap account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenWeatherMap":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0674a55b-4e01-4baf-adad-42e3a3b471dd","triggerCount":0,"tags":[]}