workflow/WebDataToExcel.json
{"createdAt":"2025-07-13T08:54:14.109Z","updatedAt":"2025-09-02T23:52:10.000Z","id":"K1K5J16dG77Ids8O","name":"WebDataToExcel","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"38872084-125c-4a5f-ab75-358d9941928e","responseMode":"responseNode","options":{}},"id":"dce27749-59c0-4a5d-8005-1f56a08af781","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-40,60],"webhookId":"38872084-125c-4a5f-ab75-358d9941928e"},{"parameters":{"respondWith":"json","responseBody":"={{JSON.stringify({success: true, data: $json})}}","options":{}},"id":"be84e7a4-5541-4285-9679-ddaa360fa552","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[180,60]},{"parameters":{"mode":"raw","jsonOutput":"={data:{{ $json.body.ecommerce }} }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,60],"id":"3630e336-5e72-4dca-856f-6bff223377ba","name":"Edit Fields","alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[620,60],"id":"462de37e-2161-473e-b2e9-bf72086c36a2","name":"Split Out"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1H6GW2Oqgv87_6cmi16IH3mMLumUC1zTK1SBcGQf5TUA","mode":"list","cachedResultName":"iphone15","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1H6GW2Oqgv87_6cmi16IH3mMLumUC1zTK1SBcGQf5TUA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"工作表1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1H6GW2Oqgv87_6cmi16IH3mMLumUC1zTK1SBcGQf5TUA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[840,60],"id":"1cd5999b-5d3a-4a36-92e4-170cb0207571","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"d7Hz1NdWq0w2fUqv","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"localhost:5678","connection":"keep-alive","content-type":"application/json","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"node","accept-encoding":"gzip, deflate","content-length":"1614"},"params":{},"query":{},"body":{"ecommerce":[{"orderId":"#00067","name":"王五","address":"新北市南港區110號","phone":"0920452577","item":"iPhone 15","time":"2025/08/11","amount":"NT$ 35,061"},{"orderId":"#00051","name":"李四","address":"高雄市文山區935號","phone":"0968295571","item":"iPhone 15","time":"2025/07/16","amount":"NT$ 45,729"},{"orderId":"#00046","name":"李四","address":"桃園市信義區508號","phone":"0967782191","item":"iPhone 15","time":"2025/07/08","amount":"NT$ 21,248"},{"orderId":"#00050","name":"張三","address":"台北市信義區195號","phone":"0988072522","item":"iPhone 15","time":"2025/06/05","amount":"NT$ 50,886"},{"orderId":"#00032","name":"林七","address":"台南市信義區609號","phone":"0985966661","item":"iPhone 15","time":"2025/05/31","amount":"NT$ 52,713"},{"orderId":"#00014","name":"李四","address":"高雄市文山區636號","phone":"0984563463","item":"iPhone 15","time":"2025/05/26","amount":"NT$ 30,318"},{"orderId":"#00025","name":"李四","address":"桃園市信義區603號","phone":"0937641531","item":"iPhone 15","time":"2025/05/23","amount":"NT$ 51,835"},{"orderId":"#00007","name":"王五","address":"台南市南港區781號","phone":"0915649487","item":"iPhone 15","time":"2025/04/17","amount":"NT$ 11,598"},{"orderId":"#00061","name":"林七","address":"高雄市文山區715號","phone":"0932132471","item":"iPhone 15","time":"2025/03/29","amount":"NT$ 16,768"},{"orderId":"#00036","name":"趙九","address":"桃園市大安區943號","phone":"0988826887","item":"iPhone 15","time":"2025/02/16","amount":"NT$ 28,902"}],"timestamp":"2025-08-25T11:10:50.848Z"},"webhookUrl":"http://localhost:5678/webhook-test/38872084-125c-4a5f-ab75-358d9941928e","executionMode":"test"}}]},"versionId":"2cd133ca-1a9e-43d8-bac2-014c2fc01c06","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-07-13T08:54:14.112Z","updatedAt":"2025-07-13T08:54:14.112Z","role":"workflow:owner","workflowId":"K1K5J16dG77Ids8O","projectId":"qDRAVIbrhDQLw3Ly","project":{"createdAt":"2025-07-06T07:54:57.449Z","updatedAt":"2025-07-06T07:57:03.983Z","id":"qDRAVIbrhDQLw3Ly","name":"joe chang <t7552175@gmail.com>","type":"personal","icon":null,"description":null}}]}