workflow/workflows/FKjfQHwajmhqDupN.json
{"createdAt":"2025-07-13T08:42:07.453Z","updatedAt":"2025-07-13T08:42:07.453Z","id":"FKjfQHwajmhqDupN","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1a9dd96d-9cfe-4e39-b72e-551a844443b3","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"command":"cd /Users/changchiao-ting/Documents/work/n8n/fetchData && node alternative-puppeteer-function.js"},"id":"67ef1e6d-1919-4ac5-a976-2864f2d9eb75","name":"Execute Puppeteer Script","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[200,0]},{"parameters":{"httpMethod":"POST","path":"webhook-test/9de2f03a-a0a2-4f2d-9945-afc01f1f6c4f","responseMode":"responseNode","options":{}},"id":"d2fb53f7-6f0d-43ff-a0a6-4785afea1fde","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,200],"webhookId":"9de2f03a-a0a2-4f2d-9945-afc01f1f6c4f"},{"parameters":{"respondWith":"json","responseBody":"={{JSON.stringify({success: true, data: $json})}}","options":{}},"id":"4e365ff8-9fcd-4022-98eb-13dcf1fdf557","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[200,200]}],"connections":{"Manual Trigger":{"main":[[{"node":"Execute Puppeteer Script","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f7a23167-500a-44bc-b771-8e52dd3ebf37","triggerCount":0,"tags":[]}