workflow/workflows/K1K5J16dG77Ids8O.json
{"createdAt":"2025-07-13T08:54:14.109Z","updatedAt":"2025-07-13T09:19:47.000Z","id":"K1K5J16dG77Ids8O","name":"getWebData","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e303f89f-c89c-4301-a0f0-52ed8ba3f2d2","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"command":"node /home/node/fetchData/alternative-puppeteer-function.js"},"id":"50c6b673-bbcb-4bb8-a8e3-8c6459e2f1f6","name":"Execute Puppeteer Script","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[200,0]},{"parameters":{"httpMethod":"POST","path":"38872084-125c-4a5f-ab75-358d9941928e","responseMode":"responseNode","options":{}},"id":"dce27749-59c0-4a5d-8005-1f56a08af781","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,200],"webhookId":"38872084-125c-4a5f-ab75-358d9941928e"},{"parameters":{"respondWith":"json","responseBody":"={{JSON.stringify({success: true, data: $json})}}","options":{}},"id":"be84e7a4-5541-4285-9679-ddaa360fa552","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[200,200]}],"connections":{"Manual Trigger":{"main":[[{"node":"Execute Puppeteer Script","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bab72cd4-727f-4ba5-b401-70f5fefb45a6","triggerCount":0,"tags":[]}